/*---NAVBAR---*/
.navbar
{
  font-size: 1rem;       /* 1rem = 16px */
  letter-spacing: .1rem;
}

.fixed-top
{
  background: rgba(0, 0, 0, 0.6);
}

.navbar-brand
{
  float: center;
  padding-right: 47%;
}

/* HAMBURGER */
.navbar-toggler
{
  float: left;
}

/* navbar logo */
.navbar-brand img
{
  height: 3.5rem;
}

/* navbar extra spacing */
.navbar-nav li
{
  padding-right: .7rem;
}

/* nav link styling */
.navbar-dark .navbar-nav .nav-link
{
  color: white;
  padding-top: .8rem;
}

/* .active and :hover nav link style */
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover
{
  color: #ddc65f;
}

/* ---HOME--- */
/* background image */
/* .home-inner
{
  background-image: url(../images/Road-Tripping.mp4);
} */

/* VIDEO */
.video-background
{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

/* home text */
#home
{
  position: relative;
  z-index: 1;
}

.caption
{
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 35%;
  color: white;
}

.caption h1
{
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;

  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}

.caption h3
{
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}

.caption h3 a
{
  color: #ddc65f;
}

/*btn style */
.btn-lg
{
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
}

/* ABOUT SECTION */
.separator img
{
  height: 25px;
  width: 1100px;
}

/* PAGINATION SYLING taken from the will_pagination github wiki */
.pagination {
  background: rgba(0, 0, 0, 0);;
  cursor: default;
  /* self-clearing method: */ }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination .disabled {
    display: none; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.3);
    color: #ddc65f;
    border: 1px solid black; }
  .pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .pagination a:hover, .pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child + html .pagination {
    overflow: hidden; }

.search-form
{
  width: 100%;
}

.search-bar
{
  width: 10%;
}

.chatroom-sect
{
  padding-top: 8%;
  padding-bottom: 8%;
  background-color: rgba(0, 0, 0, 0.2);
}

.chatroom-sect a
{
  margin-top: 1rem;
  margin-bottom: 1rem;
}